<html lang="en">
  <head>
   {{>headerLinks}}
  </head>
  <body>
    <!-- Navbar -->
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 cold-12 mx-auto">
          <div class="row">
            <div class="col-md-6 col-12 main_header_right align-items-center">
              <figure>
                <img
                  src="images/about.jpg"
                  alt="pic"
                  class="img-fluid"
                  title="About-picture"
                />
              </figure>
            </div>
            <div class="col-md-6 col-12 main_header_left">
              <p>Welcome to weather web</p>
              <h1>I am a
                <span class="text_color">MERN stack developer</span>
                and a Freelancer</h1>
              <a href="https://alwaysblue-dev.github.io/portfolio/" target="_blank"><button
                >About me</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- footer -->
   {{>footer}}
  </body>
</html>